PORT = 3003
MONGODB_URI = your-db-url
SECRET_KEY = your-secret-key
OWNER = your@email.owner
BASE_URL = your-url-site
SESSION_SECRET = your-secret-canBeRandomString
COOKIE_SECRET = your-secret-canBeRandomString