PORT = 3003
MONGODB_URI = your-db-url
SECRET_KEY = your-secret-key
OWNER = your@email.owner
BASE_URL = your-url-site
SESSION_SECRET = your-secret-canBeRandomString
COOKIE_SECRET = your-secret-canBeRandomString
COOKIE_TIKTOK = cariAjaDiNetworkYangadatulisan"tt_webid_v2"
SESSION_TIKTOK = cariAjaDiNetworkYangadatulisan"sid_tt"
IG_USER = LIAT_DI_NETWORK_AE_ATAU_NNTI_GW_BUAT_TUTORNYA_DI_YOUTUBE
IG_APP_ID = LIAT_DI_NETWORK_AE_ATAU_NNTI_GW_BUAT_TUTORNYA_DI_YOUTUBE
IG_CLAIM = LIAT_DI_NETWORK_AE_ATAU_NNTI_GW_BUAT_TUTORNYA_DI_YOUTUBE
IG_COOKIE = LIAT_DI_NETWORK_AE_ATAU_NNTI_GW_BUAT_TUTORNYA_DI_YOUTUBE