<div class="container-fluid" style="height: 80%">
  <div class="jumbotron jumbotron-fluid" style="height: 80%; text-align: center; margin: auto">
    <div class="container">
      <h1 class="display-4">username : <%= user.username %></h1>
      <p class="lead">id : <%= user._id %></p>
      <p class="lead">email : <%= user.email %></p>
      <p class="lead">created at : <%= JSON.stringify(user.date).slice(1, 11) %></p>
    </div>
  </div>
  <a href="#" class="btn btn-secondary btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-arrow-right"></i>
    </span>
    <span class="text">Edit profile</span>
  </a>
  <% if (user.email == process.env.OWNER) { %>
  <a href="/user" class="btn btn-secondary btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-arrow-right"></i>
    </span>
    <span class="text">List pengguna</span>
  </a>
  <% } %>
</div>
