<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">FB Page</h1>
  <h3 class="h3 mb-4 text-gray-800">
    Example use : <a href="shinoa-rest.herokuapp.com/dl/fb?link=https://www.facebook.com/alanwalkermusic/videos/277641643524720">shinoa-rest.herokuapp.com/dl/fb?link=https://www.facebook.com/alanwalkermusic/videos/277641643524720</a>
  </h3>
  <h3 class="h3 mb-4 text-gray-800">Masih belom jadi desainnya, jadi gomenasai v:</h3>
</div>
