<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">IG Page</h1>
  <h3 class="h3 mb-4 text-gray-800">Example use : <a target="_blank" href="https://shinoa-rest.herokuapp.com/dl/ig?link=https://www.instagram.com/p/CMzdZ1UBL0d/">shinoa-rest.herokuapp.com/dl/ig?link=https://www.instagram.com/p/CMzdZ1UBL0d/</a></h3>
  <h3 class="h3 mb-4 text-gray-800">Example use : <a target="_blank" href="https://shinoa-rest.herokuapp.com/stalk/ig?username=motivational.coder">shinoa-rest.herokuapp.com/stalk/ig?username=motivational.coder</a></h3>
  <h3 class="h3 mb-4 text-gray-800">Masih belom jadi desainnya, jadi gomenasai v:</h3>
</div>
