<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Main Page</h1>
  <h3 class="h3 mb-4 text-gray-800">Masih belom jadi desainnya, jadi gomenasai v:</h3>
  <h3 class="h3 mb-4 text-gray-800">Yang mau kontribusi bisa kunjungi repository nya <a href="https://github.com/QUERY-GANI/shinoa-api"></a>digithub</a> v:</h3>
</div>
