<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Tiktok Page</h1>
  <h3 class="h3 mb-4 text-gray-800">
    Example use : <a href="shinoa-rest.herokuapp.com/dl/tiktok?link=https://www.tiktok.com/@tiktok/video/6807491984882765062">shinoa-rest.herokuapp.com/dl/tiktok?link=https://www.tiktok.com/@tiktok/video/6807491984882765062</a>
  </h3>
  <h3 class="h3 mb-4 text-gray-800">Masih belom jadi desainnya, jadi gomenasai v:</h3>
</div>
