<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Tiktok Page</h1>
  <h3 class="h3 mb-4 text-gray-800">
    Example use :
    <a target="_blank" href="https://shinoa-rest.herokuapp.com/dl/tiktok?link=https://www.tiktok.com/@tiktok/video/6807491984882765062">shinoa-rest.herokuapp.com/dl/tiktok?link=https://www.tiktok.com/@tiktok/video/6807491984882765062</a>
  </h3>
  <h3 class="h3 mb-4 text-gray-800">URL tiktok yang tidak valid : https://www.tiktok.com/?is_copy_url=1&is_from_webapp=v2&item_id=6923380091779042562#/@dekraramu/video/6923380091779042562</h3>
  <h3 class="h3 mb-4 text-gray-800">URL tiktok yang valid : https://www.tiktok.com/@dekraramu/video/6923380091779042562</h3>
  <h3 class="h3 mb-4 text-gray-800">Masih belom jadi desainnya, jadi gomenasai v:</h3>
</div>
